@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Nabla;
  src: url('../public/fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf');
}
@font-face{
  font-family: Cookie;
  src:url('../public/fonts/Cookie-Regular.ttf')
}
*{
  box-sizing: border-box;
  margin: 0;
}
